{% extends "base.html" %}
{% block title %}Tau Station: Contributors{% endblock %}
{% block content %}

<p>The following table shows contributors to the Universal Tau Tracker projects,
and how many submissions they made in each category.</p>

<p>Note that a single visit to local shuttles can cause over a hundred distance pair recordings at once,
so numbers are not comparable across categories.</p>

<p>A high number also doesn't automatically mean better data; for example multiple career task submissions for the same day and station are not very useful.</p>

<table id="contributors">
    <thead>
        <tr>
            <th>Name</th>
            <th class="right">Career<br>tasks</th>
            <th class="right">Distance<br>pairs</th>
            <th class="right">Fuel</br>price</th>
            <th class="right">Ship<br>positions</th>
            <th class="right">Items</th>
            <th class="right">Script<br>version</th>
        </tr>
    </thead>
    <tbody>
        {% for c in contributors.keys()|sort %}
            <tr>
                <th><a href="https://taustation.space/character/by-name/{{c|escape}}">{{ c | escape }}</a></th>
                <td class="right">{{ contributors[c].get('career', 0) }}</td>
                <td class="right">{{ contributors[c].get('distance', 0) }}</td>
                <td class="right">{{ contributors[c].get('fuel', 0) }}</td>
                <td class="right">{{ contributors[c].get('ship', 0) }}</td>
                <td class="right">{{ contributors[c].get('item', 0) }}</td>
                <td class="right">{{ contributors[c].get('last_script_version', '') }}</td>
            </tr>

        {% endfor %}
    </tbody>
</table>

{% from 'macros.html' import tablesorter %}
{{ tablesorter('#contributors') }}

<script>
$(function() {
    $('#contributors').css('max-width', '40em');
});
</script>



{% endblock %}

