{% extends "base.html" %}
{% block title %}Tau Station: Items of type {{type_name}}{% endblock %}
{% block content %}

<h1>Items of type {{type_name|escape}}</h1>

<table class="sortable">
    <thead>
        <tr role="row" class="tablesorter-headerRow">
            <th data-column="0" class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" style="user-select: none;" aria-sort="none">Name</th>
            <th class="tier filter-select" data-placeholder="Any">Tier</th>
            <th class="rarity filter-select" data-placeholder="Any">Rarity</th>
            <th>Mass (kg)</th>
{% if type_name == 'Armor' %}
            <th>Piercing Defense</th>
            <th>Impact Defense</th>
            <th>Energy Defense</th>
{% elif type_name == 'Weapon' %}
            <th>Accuracy</th>
            <th>Hand-to-hand</th>
            <th>Range</th>
            <th>Type</th>
            <th>Piercing Damage</th>
            <th>Impact Damage</th>
            <th>Energy Damage</th>
{% elif type_name == 'Food' %}
            <th>Genotype</th>
            <th>Affected Stat</th>
            <th>Effect Size</th>
            <th>Duration (segs)</th>
{% elif type_name == 'Medical' %}
            <th>Strength Boost</th>
            <th>Agility Boost</th>
            <th>Stamina Boost</th>
            <th>Intelligence Boost</th>
            <th>Social Boost</th>
            <th>Base Toxicity (%)</th>
{% endif %}
        </tr>
    </thead>
    <tbody>
{% for item in items %}
        <tr role="row">
            <th><a href="/item/detail/{{item.id}}">{{item.name | escape }}</a></th>
            <td>{{item.tier}}</td>
            <td>{{item.rarity.name}}</td>
            <td>{{item.mass_kg | round(2)}}</td>
{% if type_name == 'Armor' %}
    {% set armor_aspect = item.aspect_armor %}
    {% if armor_aspect %}
            <td>{{armor_aspect.piercing_defense|round(2)}}</td>
            <td>{{armor_aspect.impact_defense|round(2)}}</td>
            <td>{{armor_aspect.energy_defense|round(2)}}</td>
    {% else %}
            <td></td> <td></td> <td></td>
    {% endif %}
{% elif type_name == 'Weapon' %}
    {% set aspect_weapon = item.aspect_weapon %}
    {% if aspect_weapon %}
            <td>{{aspect_weapon.accuracy|round(3)}}</td>
            <td>{{aspect_weapon.hand_to_hand}}</td>
            <td>{{aspect_weapon.weapon_range.name|escape}}</td>
            <td>{{aspect_weapon.weapon_type.name|escape}}</td>
            <td>{{aspect_weapon.piercing_damage|round(2)}}</td>
            <td>{{aspect_weapon.impact_damage|round(2)}}</td>
            <td>{{aspect_weapon.energy_damage|round(2)}}</td>
    {% else %}
            <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
    {% endif %}
{% elif type_name == 'Food' %}
    {% set aspect_food = item.aspect_food %}
    {% if aspect_food %}
            <td>{{ aspect_food.genotype.name | escape }}</td>
            <td>{{ aspect_food.affected_stat.name | escape }}</td>
            <td>{{ aspect_food.effect_size.name | escape }}</td>
            <td>{{ aspect_food.duration_segments | int }}</td>
    {% else %}
            <td></td> <td></td> <td></td> <td></td>
    {% endif %}
{% elif type_name == 'Medical' %}
    {% set aspect_medical = item.aspect_medical %}
    {% if aspect_medical %}
            <td>{{ aspect_medical.strength_boost| round(1) }}</td>
            <td>{{ aspect_medical.agility_boost| round(1) }}</td>
            <td>{{ aspect_medical.stamina_boost| round(1) }}</td>
            <td>{{ aspect_medical.intelligence_boost| round(1) }}</td>
            <td>{{ aspect_medical.social_boost| round(1) }}</td>
            <td>{{ aspect_medical.base_toxicity| int }}</td>
    {% else %}
            <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
    {% endif %}
{% endif %}
        </tr>
{% endfor %}
    </tbody>
</table>

<script>
$(function() {
    $('.sortable').tablesorter({
        widthFixed: false,
        widgets: ['zebra', 'filter'],
        widgetOptions : {
            filter_columnFilters: true,
            filter_external : '.search',
            filter_hideFilters: false,
            filter_ignoreCase  : true,
            filter_searchDelay : 300,
            filter_functions : {
                '.rarity': true,
            },
        },
    });
});
</script>

{% endblock %}

