nav li {
    display: inline-block;
    padding: 0.5ex;
    background-color: #CCC;
    margin-bottom: 2ex;
}
nav li a {
    color: black;
}

footer {
    background-color: #CCC;
    border-top: 2px solid black;
    margin: 0px;
    margin-top: 5ex;
    padding: 1ex;
}

main {
    margin: 1ex;
}
canvas {
    margin: 2ex;
    padding: 2ex;
    max-width: 90%;
}

.right {
    text-align: right;
}
.left {
    text-align: left;
}

tr, td {
	vertical-align: top;
}

table {
    border-collapse: collapse;
    border: 1px solid #9f9f9f;
}
tr { border-top: 1px solid #9f9f9f; }

td, th {
    padding: 0.2em 0.4em;
}

th {
    background-color: #ddd;
    border-bottom: 1px solid #9f9f9f;
    border-top: 2px solid #444;
}

ul.subnav li {
    display: inline-block;
    padding: 1.5ex;
}

#ships {
    max-width: 60em;
}

.ship-list {
    list-style: "🚀 ";
    list-style-position: outside;
}

section.comment {
    margin-top: 2ex;
    padding: 1ex;
    border-style: dashed;
    border-color: black;
    border-width: 2px;

}
