{% extends "base.html" %}
{% block title %}Tau Station: Stations{% endblock %}
{% block content %}
{% from 'macros.html' import gct %}

<table id="stations" class="sortable">
    <thead>
        <tr>
            <th>Name</th>
            <th>System</th>
            <th>Code</th>
            <th>Level</th>
            <th>Needs data</th>
        </tr>
    </thead>
    <tbody>
        {% for station in stations %}
            <tr>
                <td>{{ station.name | escape }}</td>
                <td>{{ station.system.name | escape }}</td>
                <td>{{ station.short | escape }}</td>
                <td>{{ station.level or '' }}</td>
                <td>
                    <ul>
                        {% if station.needs_career_update %}<li><a href="https://taustation.space/career">Career tasks</a></li> {% endif %}
                        {% if station.needs_fuel_update %}<li><a href="https://taustation.space/travel/area/docks">Docks</a></li> {% endif %}
                        {% if station.needs_shuttle_update %}<li><a href="https://taustation.space/travel/area/local-shuttles">Shuttles</a></li> {% endif %}
                    </ul>
                </td>
            </tr>

        {% endfor %}
    </tbody>
</table>

{% from 'macros.html' import tablesorter %}
{{ tablesorter('.sortable') }}
<script>
$(function() {
    $('#stations').css('max-width', '40em');
});
</script>

{% endblock %}

