{% extends "base.html" %}
{% block title %}Tau Station: Stations{% endblock %}
{% block content %}
{% from 'macros.html' import gct %}

<table id="stations" class="sortable">
    <thead>
        <tr>
            <th>Name</th>
            <th>System</th>
            <th>Code</th>
            <th>Level</th>
        </tr>
    </thead>
    <tbody>
        {% for station in stations %}
            <tr>
                <td>{{ station.name | escape }}</td>
                <td>{{ station.system.name | escape }}</td>
                <td>{{ station.short | escape }}</td>
                <td>{{ station.level or '' }}</td>
            </tr>

        {% endfor %}
    </tbody>
</table>

{% from 'macros.html' import tablesorter %}
{{ tablesorter('.sortable') }}
<script>
$(function() {
    $('#stations').css('max-width', '30em');
});
</script>

{% endblock %}

