{% extends "base.html" %}
{% block title %}Tau Station: Ship Registry{% endblock %}
{% block content %}

<p>There are currently {{ ships.count() }} ships known to the Universal Tau Tracker:</p>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Captain</th>
            <th>Registration</th>
            <th>Class</th>
            <th>Last Seen</th>
        </tr>
    </thead>
    <tbody>
        {% for ship in ships %}
            <tr>
                <td>{{ ship.name | escape }}</td>
                <td>{{ ship.captain | escape }}</td>
                <td>{{ ship.registration | escape }}</td>
                <td>{{ ship.ship_class.name | escape }}</td>
                <td>{% set last_seen = ship.last_sighting %}
                    {% if last_seen %}{{ last_seen.station.short }}{% endif %}</td>

            </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}

