{% extends "base.html" %}
{% block title %}Tau Station: Ship Registry{% endblock %}
{% block content %}
{% from 'macros.html' import gct %}

<p>There are currently {{ ships.count() }} ships known to the Universal Tau Tracker:</p>

<table id="ships">
    <thead>
        <tr>
            <th>Name</th>
            <th>Captain</th>
            <th>Registration</th>
            <th>Class</th>
            <th>Last Seen On</th>
        </tr>
    </thead>
    <tbody>
        {% for ship in ships %}
            <tr>
                <td><a href="/ship/{{ship.registration|escape}}">{{ ship.name | escape }}</a></td>
                <td>{{ ship.captain | escape }}</td>
                <td>{{ ship.registration | escape }}</td>
                <td>{{ ship.ship_class.name | escape }}</td>
                <td>{% set last_seen = ship.last_sighting %}
                    {% if last_seen %}{{ last_seen.station.short }}{% endif %}</td>
            </tr>

        {% endfor %}
    </tbody>
</table>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.default.min.css" integrity="sha512-wghhOJkjQX0Lh3NSWvNKeZ0ZpNn+SPVXX1Qyc9OCaogADktxrBiBdKGDoqVUOyhStvMBmJQ8ZdMHiR3wuEq8+w==" crossorigin="anonymous" />
<script src="/static/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg==" crossorigin="anonymous"></script>

<script>
$(function() {
    $('#ships').tablesorter({widthFixed: false});
});
</script>



{% endblock %}

