{% extends "base.html" %}
{% block title %}Tau Station: Ship Registry{% endblock %}
{% block content %}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Captain</th>
            <th>Registration</th>
            <th>Class</th>
        </tr>
    </thead>
    <tbody>
        {% for ship in ships %}
            <tr>
                <td>{{ ship.name | escape }}</td>
                <td>{{ ship.captain | escape }}</td>
                <td>{{ ship.registration | escape }}</td>
                <td>{{ ship.ship_class.name | escape }}</td>

            </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}

