<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/style.css" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.default.min.css" integrity="sha512-wghhOJkjQX0Lh3NSWvNKeZ0ZpNn+SPVXX1Qyc9OCaogADktxrBiBdKGDoqVUOyhStvMBmJQ8ZdMHiR3wuEq8+w==" crossorigin="anonymous" />
    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.widgets.min.js" integrity="sha512-dj/9K5GRIEZu+Igm9tC16XPOTz0RdPk9FGxfZxShWf65JJNU2TjbElGjuOo3EhwAJRPhJxwEJ5b+/Ouo+VqZdQ==" crossorigin="anonymous"></script>

    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Start</a></li>
            <li><a href="/career">Career</a></li>
            <li><a href="/distance">Station Distances</a></li>
            <li><a href="/fuel">Fuel Prices</a></li>
            <li><a href="/ship/">Ships</a></li>
            <li><a href="/item">Items</a></li>
            <li><a href="/vendor">Vendors</a></li>
        </ul>
    </nav>
    <main id="content">
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}
        <p>This site is a fan project related to the <a href="https://taustation.space/">Tau Station text based MMORPG</a>. It is a private project and not an official offer by the creators of Tau Station.</p>
        <p>It tracks time-dependent data submitted by user scripts. See <a href="https://github.com/taustation-fan/universal-tau-tracker#readme">the project's description and source code</a>.</p>
        <nav>
        <ul>
            <li>Small Tools</li>
            <li><a href="/station">All stations</a>
            <li><a href="/contributor">Contributors</a>
        </ul>
        </nav>
        {% endblock %}
    </footer>
</body>
</html>
