{% extends "base.html" %}
{% block title %}{{ pair_string }} distances{% endblock %}
{% block content %}
    <h1>{{ pair_string }} distances</h1>

    <p><a href="{{ url_for('distance_overview') }}">Back to station distances overview.</a></p>

    <canvas id="myChart" width="600" height="300"></canvas>

    {% if max_distance%}
    <p>The recorded distances vary between {{ min_distance }} and {{ max_distance }} km.</p>
    {% endif %}

    <p><a href="{{ url_for('distance_pair_csv', id=id) }}">Download as CSV.</a></p>

    {% if has_prediction %}
    <h2 id="prediction">Distance predictions for the next day</h2>
    <img src="{{ url_for('distance_pair_prediction_png', id=id) }}"></img>

    {% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.3"></script>

    <script>
        var graph_data = {{ readings | safe }};
        graph_data.forEach(function (elem, idx) {
            elem.x = new Date(elem.x);
        });

        window.onload = function () {
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [{
                        label: '{{ pair_string }}',
                        data: graph_data,
                    }]
                },
                options: {
                    plugins: {
                        zoom: {
                            pan: {
                                enabled: true,
                                mode: 'x',
                                drag: true,
                            },
                        },
                    },
                    scales: {
                        xAxes: [{
                            type: 'time',
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    }
                }
            })
        };
    </script>
{% endblock %}
