<table>
    <thead>
        <tr>
            <th>Station</th>
            <th>Price c/g</th>
            <th>Age</th>
        </tr>
    </thead>
        {% for row in rows %}
            <tr>
                <td>{% if row.is_current %}<b>→ {{ row.station_name }}</b>{% else %}{{ row.station_name }}{% endif %}</td>
                <td>{{ row.price_per_g }}</td>
                <td>{{ row.age }}</td>
            </tr>
        {% endfor %}
    <tbody>
    </tbody>
</table>

<p><a href="https://tracker.tauguide.de/fuel">See all fuel price ranges.</a></p>
