{% extends "base.html" %}
{% block title %}Tau Station: Recent Fuel Prices{% endblock %}
{% block content %}

<p class="warning">The link to this page contains a secret token. Please do not share it.</p>

<table>
    <thead>
        <tr>
            <th>Station</th>
            <th class="right">Measured <br>fuel price<br>c/gram</th>
            <th class="right">Estimated <br>fuel price<br>c/gram</th>
            {% if compare %}
                <th class="right">Estimation<br>error (‰)</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr {% if row.classification %}class="classification-{{row.classification}}"{% endif %}>
                <td>{{ row.station_short_name }}</td>
                <td class="right">{% if row.last_price%}{{ row.last_price | round(1) }}{% endif %}</td>
                <td class="right">{% if row.estimated_price%}{{ row.estimated_price | round(1) }}{% endif %}</td>
                {% if compare %}
                    <td class="right">
                        {% if row.error %}
                            {{ row.error | round(2) }}
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
