<html>
<head>
    <title>Tau Station Universal Tracker</title>
</head>

<h1>Tau Station Universal Tracker</h1>

<p>This project tracks time-dependent data from the <a href="https://taustation.space/">Tau Station text based MMORPG</a>.</p>

<p>Available data:</p>

<ul>
    <li><a href="/distance">Station distances</a></li>
    <li><a href="/career">Career bonus factors</a></li>
    <li><a href="/fuel">Fuel prices for private ships</a></li>
    <li><a href="/ship/">Ship registry</a></li>
    <li><a href="/item">Items (weapons, armor, medical, ...)</a></li>
    <li><a href="/vendor">NPC vendors</a></li>
</ul>

</html>
